#co-shipping-form {
    display: none;
}
.shipping-address-items, .new-address-popup {
    display: none;
}
.checkout-shipping-method .step-title {
    display: none;
}
.loading-mask {
    display: none !important;
}

.checkout-index-index .opc-wrapper {
    float: left !important;
}

/* Klarna styles */

.checkout-klarna-index .ingrid-checkout-ko {
    width: 33.33333333%;
    float: left;
    order: 2;
}

@media (min-width: 768px), print {
    .opc-wrapper {
        float: right !important;
    }
    .opc-sidebar {
        margin: 0 0 20px !important;
    }
}

@media (max-width: 767px), print {
    .checkout-klarna-index .ingrid-checkout-ko {
        width: 100%;
        float: none;
    }
}